name: Build and deploy Node.js app to Azure Web App - esims

on:
  push:
    branches:
      - main
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - name: Set up Node.js
        uses: actions/setup-node@v3
        with:
          node-version: '22.x'

      - name: Install pnpm
        run: npm install -g pnpm@latest

      - name: Install dependencies
        working-directory: ./webservices-esims
        run: pnpm install --frozen-lockfile

      - name: Build application
        working-directory: ./webservices-esims
        run: pnpm build

      - name: Upload artifact for deployment
        uses: actions/upload-artifact@v4
        with:
          name: node-app
          path: ./webservices-esims/dist  # Only the build output

  deploy:
    runs-on: ubuntu-latest
    needs: build

    steps:
      - name: Download artifact
        uses: actions/download-artifact@v4
        with:
          name: node-app

      - name: Deploy to Azure Web App
        uses: azure/webapps-deploy@v3
        with:
          app-name: 'esims'
          slot-name: 'Production'
          package: ./webservices-esims/dist    # Deploy the build folder only
          publish-profile: ${{ secrets.AZUREAPPSERVICE_PUBLISHPROFILE_0B5D637776FB4901899C4E2E053DBB18 }}
          clean: true
          restart: true
